
body{
    overflow: hidden;
    background-color: #6F6C6A !important;
    /*background-color: red;*/

}

.leftControlBlock{
    /*background-color: #CDC3C0;*/
    background-color: #c9bfbc;

    width: 20vw;
    height: 79vh;
    float: left;

}



.contentHead{
    background-color: #c9bfbc;
    height: 3%;
    width: 100%;
    font-size: 1em;
    text-align: center;
}
.headerBlock{
    display: inline-block;
    /*background-color: #0000FF;*/
    clear: left;
    width: 20vw !important;
    height: 10vh;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
.header{
    width: 100vw;
    float: left;
    background-color: rgba(199, 189, 186, 0.100);
    height: 10vh
}
.bookName{
    display: inline-block;
    clear: right;
    width: 79vw;
    text-align: center;
    font-size: 5vh;
}
.footer{
    background-color: black;
    height: 10vh;
    color: #f5f5f5;
    width: 100vw;
    float: left;
    text-align: center;
}
.bookSpace{
    /*background-color: rgba(199, 189, 186, 0.100);;*/
    background-color: #CDC3C0;
    width: 80vw;
    height: 79vh;
    float: right;
}
.bookText{

    margin-left: 1vw ;
    width: 79vw;
    height: 79vh;
    float: right;
    overflow: auto;
    padding-right: 1vw;
    background-color:#CDC3C0 ;
}
.contentBody{
    overflow: auto;
    width: 100%;
    height:  76vh;

}

i{
    padding-left: 3px;
}
pre {
    background-color: inherit !important;
}

div{
    border-color: white;
}

/*.open{*/
    /*display : block;*/
/*}*/

/*.close{*/
    /*display : none;*/
/*}*/